#wakoykwarta {
	color: yellow;
}

* {
	font-family: montserrat;
	font-size: 13px;
}

h1 {
	font-size: 50px;
}

#dagat {
	text-transform: uppercase;
}

.broke {
	background-color: lightgreen;
}

li[class="init"] {
	border-width: 2px;
	border-style: solid;
	border-color: maroon;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 150px;
	width: 150px;
	border-radius: 450px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 10px;
}